<h1>Editando Autuado/indiciado</h1>
<br>
<%= render 'form_flagrantes' %>

<%= link_to 'Show', :controller => "demandas", :action => "show_flagrante", :id => @demanda.id %> |
<%= link_to 'Voltar', "/consultas/list/3" %>