<h1>Editando Levantamento</h1>
<br>
<%= render 'form_levantamentos' %>

<%= link_to 'Show', :controller => "demandas", :action => "show_levantamento", :id => @demanda.id %> |
<%= link_to 'Voltar', "/consultas/list/2" %>